<section>
  <h1 class="my-2 text-center text-main">Forgot Password</h1>

  @switch (step) {
    @case (1) {
      <form
        [formGroup]="verifyEmail"
        (ngSubmit)="verifyEmailSubmit()"
        class="bg-main-light rounded-4 shadow"
      >
        <div class="my-3 p-3">
          <label for="email" class="fw-semibold my-2 h5">Email</label>
          <input
            formControlName="email"
            type="email"
            id="email"
            class="form-control"
          />
        </div>
        <div class="p-3">
          <button [disabled]="verifyEmail.invalid" class="btn-main">
            Verify Email
          </button>
        </div>
      </form>
    }
    @case (2) {
      <form
        [formGroup]="verifCode"
        (ngSubmit)="verifyCodeSubmit()"
        class="bg-main-light rounded-4 shadow"
      >
        <div class="my-3 p-3">
          <label for="code" class="fw-semibold my-2 h5">Enter Code</label>
          <input
            formControlName="resetCode"
            type="text"
            id="code"
            class="form-control"
          />
        </div>
        <div class="p-3">
          <button [disabled]="verifCode.invalid" class="btn-main">
            Verify Code
          </button>
        </div>
      </form>
    }
    @case (3) {
      <form
        [formGroup]="resetPassword"
        (ngSubmit)="resetPasswordSubmit()"
        class="bg-main-light rounded-4 shadow"
      >
        <div class="my-3 p-3">
          <label for="email" class="fw-semibold my-2 h5">Email</label>
          <input
            readonly
            formControlName="email"
            type="email"
            id="email"
            class="form-control"
          />
        </div>
        <div class="my-3 p-3">
          <label for="password" class="fw-semibold my-2 h5">New Password</label>
          <input
            formControlName="newPassword"
            type="password"
            id="password"
            class="form-control"
          />
        </div>
        <div class="p-3">
          <button [disabled]="resetPassword.invalid" class="btn-main">
            Verify Email
          </button>
        </div>
      </form>
    }
  }
</section>
